/* CSS custom properties - GLOBAL VARIABLES */
:root {
  --primaryColor: #d3197c;
  --primaryColorFocus: #a10e5c;
  --primaryActionColor: #0062e6;
  --primaryActionColorFocus: #113da6;

  --spacing1x: 8px;
  --spacing05x: calc(0.5 * var(--spacing1x));
  --spacing2x: calc(2 * var(--spacing1x));
  --spacing3x: calc(3 * var(--spacing1x));
  --spacing4x: calc(4 * var(--spacing1x));

  --pageBgColor: #f7f7f7;
  --workareaBgColor: #fff;

  --linkColor: var(--primaryActionColor);
  --linkColorFocus: var(--primaryActionColorFocus);

  --generalTextColor: #414949;
  --generalTextFontSize: 18px;
  --generalTextFontWeight: 600;
  --generalTextFontFamily: "Open Sans", sans-serif;
  --generalTextLineHeight: 1.43;
  --generateTextIncreaseRatio: 1.125;

  --text-m: var(--generalTextFontSize);
  --text-s: calc(var(--text-m) / var(--generateTextIncreaseRatio));
  --text-xs: calc(var(--text-s) / var(--generateTextIncreaseRatio));
  --text-xxs: calc(var(--text-xs) / var(--generateTextIncreaseRatio));

  --text-l: calc(var(--generateTextIncreaseRatio) * var(--text-m));
  --text-xl: calc(var(--generateTextIncreaseRatio) * var(--text-l));
  --text-xxl: calc(var(--generateTextIncreaseRatio) * var(--text-xl));
  
  --generalLabelColor: #939393;
  --generalLabelFontSize: var(--text-xs);

  --headerBgColor: var(--primaryColor);
  --headerTextColor: #fff;

  --controlHeight: 42px;
}
body {
  margin: 0;
  padding: 0;
  font: 16px/1.24 "Open Sans", sans-serif;
  background: #efefef;
  display:flex;
  flex-flow: column nowrap;
}

button {
  background:green;
  color: #FFF;
  border:none;
  height:35px;
  min-width: 90px;
  text-align:center;
  padding: 0 8px;
}

input,
textarea {
  font: 16px/1.24 "Open Sans", sans-serif;
}

input[type='text'],
input[type='password'] {
  height:35px;
  padding-left: 7px;
}

.default.flex,
.stacked.flex {
  display:flex;
  flex-flow: column;
}
.stacked.flex > * {
  margin-bottom: 16px;
}

.inline_middle.flex > * {
  margin-right:8px;
}

.flex {
  display:flex;
}

.flex-col {
  flex-flow: column;
}

.align-center {
  align-items: center;
}

a,
a:visited {
  cursor: pointer;
  text-decoration: none;
  color: #020BFF;
}

a:active,
a:focus,
a:hover {
  color: #020BFF;
  cursor: pointer;
  text-decoration: underline;
}

.field-textinput, .field-textarea {
  display:flex;
  flex-flow: column;
}

.field-textinput > input, .field-textarea > textarea{
  order:2;
}

header {
  background: 25% 50% no-repeat url(./hero-2.jpg);
  background-size: cover;
  height: 400px;
  display: flex;
  align-items: baseline;
  padding: 21px 14px 0 14px;
}

footer {
  border-top: 1px solid #d5d5d5;
  padding: 14px 0;
  display: flex;
  align-items: baseline;
}

main {
  min-height: calc(100vh - 172px);
  margin-top: -300px;
  width: 100%;
}

.workarea {
  max-width: 1300px;
  padding: 0 21px;
  margin: 0 auto 16px auto;
}

.workarea h1 {
  color: #FFF;
}

.logo {
  height: 30px;
}

li {
  list-style: none;
  margin-right:30px;
}

ul {
  display:flex;
  flex-flow: row nowrap;
  margin:0;
  align-items: center;
  padding: 0 0 0 30px;
}

header a {
  color: #FFF;
  font-weight: 700;
  letter-spacing: .7px;
  text-transform: uppercase;
}
header a:hover,
header a:active,
header a:focus {
  color: #FFF;
}

footer a,
footer a:hover,
footer a:active,
footer a:focus {
  font-size: 18px;
  color: #646363;
}

.container-main-sidebar {
  display: flex;
  flex-flow: row nowrap;
  min-height: 400px;
}
.container-main-sidebar > .main,
.container-main-sidebar > .sidebar {
  background: #FFF;
  border-radius: 8px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2);
  padding: 14px;
}

.container-main-sidebar > .main {
  flex: 1;
  margin-right: 30px;
}
.container-main-sidebar > .sidebar {
  width: 400px;
}

.toggle {
	height: 0;
	width: 0;
	visibility: hidden;
}

.toggle + label {
	cursor: pointer;
	text-indent: -9999px;
	width: 50px;
	height: 30px;
	background: #ccc;
	display: block;
	border-radius: 30px;
	position: relative;
}

.toggle + label:after {
	content: '';
	position: absolute;
	top: 2px;
	left: 2px;
	width: 26px;
	height: 26px;
	background: #fff;
	border-radius: 26px;
	transition: 0.3s;
}

.toggle:checked + label {
	background: #020BFF;
}

.toggle:checked + label:after {
	left: calc(100% - 2px);
	transform: translateX(-100%);
}

table {
  width:100%;
}

th {
  text-align:left;
}

.right-aligned {
  text-align:right;
  justify-content: flex-end;
}
