#main-content {
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 15px;
    min-height: 40vh;
}

table {
    width: 100%;
}

.action-button-area > button {
    margin-right: 20px;
}

.field-phoneinput {
    display: flex;
    flex-flow: row nowrap;
}
.field-countrycode {
    width: auto;
}

.loading {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    height:100%;
  }
  
  .loading > .dot {
    width: 1rem;
    height: 1rem;
    margin: 0 0.5rem;
    background: #0076D1;
    border-radius: 50%;
    animation: Loading-ellipsis 1s infinite cubic-bezier(0.4, 0.6, 0.1, 1);
  }
  
  .loading > .dot:nth-child(2) {
    animation-delay: 0.1667s;
  }
  
  .loading > .dot:nth-child(3) {
    animation-delay: 0.3334s;
  }
  
  @keyframes Loading-ellipsis {
    0% {
        transform: scale(0);
        opacity: 0;
    }
    50% {
        transform: scale(1);
        opacity: 1;
    }
    100% {
        transform: scale(0);
        opacity: 0;
    }
  }
  