#main-content {
    max-width: 1100px;
    margin: 0 auto;
    padding: 16px;
    min-height: 40vh;
}

table {
    width: 100%;
}

.action-button-area > button {
    margin-right: 20px;
}

.field-phoneinput {
    display: flex;
    flex-flow: row nowrap;
}
.field-countrycode {
    width: auto;
}

.loading {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    height:100%;
  }

  .loading > .dot {
    width: 1rem;
    height: 1rem;
    margin: 0 0.5rem;
    background: #0076D1;
    border-radius: 50%;
    animation: Loading-ellipsis 1s infinite cubic-bezier(0.4, 0.6, 0.1, 1);
  }

  .loading > .dot:nth-child(2) {
    animation-delay: 0.1667s;
  }

  .loading > .dot:nth-child(3) {
    animation-delay: 0.3334s;
  }

  .sr-only:not(:focus):not(:active) {
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
}

  .usa-field {
    margin-top:1.5rem;
  }

  span.dataValueRead:empty:after {
    content: '\2013\2013';
    color: rgba(0,0,0,0.6);
    line-height: inherit!;
  }

  dd {
    margin-inline-start: 0;
  }

  .usa-form table .usa-button,
  table .usa-input, table .usa-input-group, table .usa-range,
  table .usa-select,table .usa-textarea {
    margin-top: 0;

}
  @media (min-width: 30em) {
    .usa-form {
      max-width: none;
  }

    .usa-form .usa-input, .usa-form .usa-range, .usa-form .usa-select, .usa-form .usa-textarea {
      max-width: 20rem;
    }
  }

  @keyframes Loading-ellipsis {
    0% {
        transform: scale(0);
        opacity: 0;
    }
    50% {
        transform: scale(1);
        opacity: 1;
    }
    100% {
        transform: scale(0);
        opacity: 0;
    }
  }
