/* CSS custom properties - GLOBAL VARIABLES */
:root {
  --brandColor: #295ed9;
  --primaryColor: #0062e6;
  --primaryColorFocus: #113da6;
  --primaryActionColor: #0062e6;
  --primaryActionColorFocus: #113da6;

  --generalBorderColor: #aaa;
  --generalBorderRadius: 5px;

  --spacing1x: 8px;
  --spacing05x: calc(0.5 * var(--spacing1x));
  --spacing2x: calc(2 * var(--spacing1x));
  --spacing3x: calc(3 * var(--spacing1x));
  --spacing4x: calc(4 * var(--spacing1x));

  --pageBgColor: #f7f7f7;
  --workareaBgColor: #fff;

  --linkColor: var(--primaryActionColor);
  --linkColorFocus: var(--primaryActionColorFocus);

  --generalTextColor: #1d2020;
  --generalTextFontSize: 18px;
  --generalTextFontWeight: 600;
  --generalTextFontFamily: "Open Sans", sans-serif;
  --generalTextLineHeight: 1.43;
  --generateTextIncreaseRatio: 1.125;

  --text-m: var(--generalTextFontSize);
  --text-s: calc(var(--text-m) / var(--generateTextIncreaseRatio));
  --text-xs: calc(var(--text-s) / var(--generateTextIncreaseRatio));
  --text-xxs: calc(var(--text-xs) / var(--generateTextIncreaseRatio));

  --text-l: calc(var(--generateTextIncreaseRatio) * var(--text-m));
  --text-xl: calc(var(--generateTextIncreaseRatio) * var(--text-l));
  --text-xxl: calc(var(--generateTextIncreaseRatio) * var(--text-xl));
  
  --generalLabelColor: rgba(0,0,0,.6);
  --generalLabelFontSize: var(--text-xs);

  --headerBgColor: var(--primaryColor);
  --headerTextColor: #fff;

  --controlHeight: 32px;
}
h2,
h3 {
  margin-bottom: var(--spacing1x);
}
.main-header ~ h3 {
  padding-bottom: var(--spacing05x);
  border-bottom: 1px solid rgba(0,0,0,0.2);
  margin-bottom: var(--spacing1x);
  margin-top: var(--spacing1x);
}

td > input {
  width: -webkit-fill-available;
  inline-size: -moz-available;
}

button {
  background: var(--brandColor);
  color: #FFF;
  border:none;
  height:36px;
  min-width: 90px;
  padding: 0 8px;
  cursor:pointer;
}

button.Simple {
  background: none;
  color: rgb(0, 0, 0);
  min-width:0;
  outline: none;
  display:flex;
  align-items: center;
}

button.Light {
  background: none;
  min-width: 0;
  display: inline-block;
  padding: 0;
  height: auto;
  width: fit-content;
}

@supports (-webkit-appearance:none) {
  input[type=date]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    display: none;
  }

  input[type="date"]::-webkit-calendar-picker-indicator {
    display: block;
    color: rgba(0, 0, 0, 0);
    opacity: 1;
    background: #fff
    url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNSAyNSIgd2lkdGg9IjE1IiBoZWlnaHQ9IjE1Ij48dGl0bGU+ZXZlbnRzPC90aXRsZT48ZyBpZD0iYnVkaWNvbi1ldmVudHMiPjxwYXRoIGQ9Ik0yNCwySDE5Vi41YS41LjUsMCwwLDAtMSwwVjJIN1YuNWEuNS41LDAsMCwwLTEsMFYySDFBMSwxLDAsMCwwLDAsM1YyM2ExLDEsMCwwLDAsMSwxSDI0YTEsMSwwLDAsMCwxLTFWM0ExLDEsMCwwLDAsMjQsMlptMCwyMUgxVjhIMjRaTTI0LDdIMVYzSDI0Wm0tOSw2SDEzVjExaDJabTUsMEgxOFYxMWgyWk03LDE4SDVWMTZIN1ptNSwwSDEwVjE2aDJaIi8+PC9nPjwvc3ZnPg==')
  no-repeat;
  }

  .field-combobox > input[type="text"]::-webkit-calendar-picker-indicator {
    display: none;
  }
}

@supports (-moz-appearance:none) {
  input[type="date"] {
    background: #fff
      url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNSAyNSIgd2lkdGg9IjE1IiBoZWlnaHQ9IjE1Ij48dGl0bGU+ZXZlbnRzPC90aXRsZT48ZyBpZD0iYnVkaWNvbi1ldmVudHMiPjxwYXRoIGQ9Ik0yNCwySDE5Vi41YS41LjUsMCwwLDAtMSwwVjJIN1YuNWEuNS41LDAsMCwwLTEsMFYySDFBMSwxLDAsMCwwLDAsM1YyM2ExLDEsMCwwLDAsMSwxSDI0YTEsMSwwLDAsMCwxLTFWM0ExLDEsMCwwLDAsMjQsMlptMCwyMUgxVjhIMjRaTTI0LDdIMVYzSDI0Wm0tOSw2SDEzVjExaDJabTUsMEgxOFYxMWgyWk03LDE4SDVWMTZIN1ptNSwwSDEwVjE2aDJaIi8+PC9nPjwvc3ZnPg==')
      no-repeat calc(100% - 8px) 50%; 
      padding-right: 28px;
  }
}

select,
button.action-menu {
  padding: 0 28px 0 8px;
  border: 1px solid #000;
}

.field-combobox > input,
select,
button.action-menu {
  background: #fff
    url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0naHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmcnIHZpZXdCb3g9JzAgMCA0OC4wNiAyOC4wNCcgIHdpZHRoPScxOCcgaGVpZ2h0PSc5Jz48cGF0aCBmaWxsPSIjMTAxMzJFIiBkPSdNNDcuNDEuNTVhMS45MSAxLjkxIDAgMCAwLTIuNyAwbC0yMC43MSAyMi42MS0yMC43NS0yMi42LS4xOC0uMThhMS45MSAxLjkxIDAgMSAwLTIuNTEgMi44OGwyMS44NyAyMy44NGExLjY5IDEuNjkgMCAwIDAgLjEzLjMxIDIuMTUgMi4xNSAwIDAgMCAyLjg1IDAgMS43NSAxLjc1IDAgMCAwIC4xMy0uMzJsMjEuODctMjMuODRhMS45MSAxLjkxIDAgMCAwIDAtMi43eicgdHJhbnNmb3JtPSd0cmFuc2xhdGUoLjEgLjA5KScvPjwvc3ZnPg==')
    no-repeat calc(100% - 8px) 60%;
}
input,
textarea {
  padding: 3px 7px;
  border-radius: 4px;
  border: 1px solid#ccc;
  resize: none;
  inline-size: auto;
}
textarea {
  display: block;
  tab-size: 4;
  resize: none;
  max-height: 600px;
  height: auto; 
  overflow: hidden;
  word-wrap:break-word
}
input {
  height: 28px;
}
input[type='checkbox'],
input[type='radio'] {
  height: 16px;
}
select {
  height: 36px;
  border: 1px solid #ccc;
  border-radius: 4px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  cursor:pointer;  
}

.layout-content-default.flex,
.layout-content-stacked.flex,
.layout-content-stacked_with_labels_left {
  display:flex;
  flex-flow: column;
  width: 100%;
}
.layout-content-inline_grid_double {
  flex-flow: row nowrap;
}
.flex.layout-content-inline_grid_double > div:nth-child(2n+1) {
  width:calc(50% - var(--spacing1x));
  margin-right: var(--spacing1x);
}
.flex.layout-content-inline_grid_double > div:nth-child(2n) {
  width:calc(50% - var(--spacing1x));
  margin-left: var(--spacing1x);
}
.flex.layout-content-inline_grid_30_70 > div:nth-child(2n+1) {
  width:calc(30% - var(--spacing1x));
  margin-right: var(--spacing1x);
}
.flex.layout-content-inline_grid_30_70 > div:nth-child(2n) {
  width:calc(70% - var(--spacing1x));
  margin-left: var(--spacing1x);
}
.flex.layout-content-inline_grid_70_30 > div:nth-child(2n+1) {
  width:calc(70% - var(--spacing1x));
  margin-right: var(--spacing1x);
}
.flex.layout-content-inline_grid_70_30 > div:nth-child(2n) {
  width:calc(30% - var(--spacing1x));
  margin-left: var(--spacing1x);
}
.layout-content-stacked.flex > * {
  margin-bottom: 8px;
}
.layout-content-default.flex > * {
  margin-bottom: 16px;
}
.layout-content-stacked_with_labels_left  > .field-item {
  flex-flow: row;
  margin-bottom: var(--spacing1x);
}
.layout-content-stacked_with_labels_left  > .field-item > label {
  margin-right: var(--spacing1x);
  margin-bottom: 0;
  width: 200px;
}
.layout-content-inline.flex > *,
.layout-content-inline_middle.flex > * {
  margin-right:8px;
}
.layout-content-inline_middle.flex {
  align-items: center;
}
.layout-content-inline_middle.flex > *:last-child {
  margin-right:0;
}
.flex.main-header {
  min-height: 50px;
}
.flex.main-header > h2 {
  margin-bottom:0;
}
.flex {
  display:flex;
}

.flex-col {
  flex-flow: column;
}

.flex-all {
  flex:1;
  margin-right: 8px;
}

.flex.margin-l-auto {
  margin-left: auto;
}

.align-center {
  align-items: center;
}
button.Light,
a,
a:visited {
  cursor: pointer;
  text-decoration: none;
  color: var(--linkColor);
  outline:none;
}
button.Light:active,
button.Light:focus,
button.Light:hover,
a:active,
a:focus,
a:hover {
  text-decoration: underline;
}

button.Simple:active,
button.Simple:focus,
button.Simple:hover,
button.Light:active,
button.Light:focus,
button.Light:hover,
a:active,
a:focus,
a:hover {
  color: var(--linkColorFocus);
  cursor: pointer;
  outline:none;
}

.field-item {
  display:flex;
  flex-flow: column;
}

.field-item > label {
  margin-bottom:3px;
  min-height:20px;
  display:block;
}

.field-checkbox > label,
.field-checkbox,
.field-button {
  display:inline-block;
}

table {
  width:100%;
}

th {
  text-align:left;
}

.rdl .pzhc.pzbutton,
table .pzhc.pzbutton {
  background:none;
  color: #000;
  min-width:30px;
  border:none;
  color: #295ED9;
}

table .pzhc.pzbutton:hover,
table .pzhc.pzbutton:focus,
table .pzhc.pzbutton:active {
  color: #0031A8;
}

.right-aligned {
  text-align:right;
  justify-content: flex-end;
}

.field-combobox {
  position: relative;
}

.field-combobox > .data-list.visible {
  position: absolute;
  top: 42px;
  border: 1px solid #ccc;
  left: 0;
  right: 0;
  background: #FFF;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2);
  z-index:2;
  max-height: 300px;
  overflow: auto;
}

.data-list > ol {
  margin: 7px 0 0 0;
  padding-left: 7px;
}

.action-button-area {
  display:flex;
  flex-flow: row;
  padding-top: var(--spacing2x);
  border-top: 1px solid var(--generalBorderColor);
}
.action-button-area > button {
  margin-right: var(--spacing1x);
}
.action-button-area > button:last-child {
  margin: 0 0 0 auto;
}
.validation:not(:empty),
.error {
  padding: 14px;
  background:#FFD9DB;
  color: #000;
  font-size: 16px;
  border-radius: 8px;
  display:flex;
  margin-bottom:14px;
  align-items: center;
}

.error button {
  margin-left: auto;
  background:transparent;
  color:#000;
  min-width:auto;
}
#case-data > div:first-child,
.content-items-maxwidth > .content-item {
  max-width: 640px;
}

pega-mashup,
pega-mashup-v2,
pega-mashup-light,
pega-mashup-light-v2,
#case-data {
  height: 100%;
  display: flex;
  flex-flow: column nowrap;
}

#case-data,
#case-data > div:first-child {
  flex:1;
}
.button-menu {
  position: relative;
  display: inline-block;
}
.button-menu > ul {
  position: absolute;
  top: 100%;
  background:#FFF;
  display: block;
  margin: 0;
  list-style: none; 
  padding: 0;
  border:1px solid rgba(0,0,0,0.2);
  box-shadow: 0 3px 12px rgba(0, 0, 0, 0.15);
  z-index:2;
  right:0;
}
.button-menu > ul > li {
  margin:0;
  white-space: nowrap;
  display: block;
  padding: 0.4em 1em;
  text-decoration: none;
  color: #333333;
  margin:0;
}
.button-menu > ul > li:focus,
.button-menu > ul > li:hover {
  background: #BBBBBB;
  outline:none;
}

.icon-required:after {
  vertical-align: middle;
  content: '*';
  font-size: 13px;
  font-weight: 700;
  text-align: left;
  color: #D91C29;
  padding-left: 3px;
}

.field-text > span:empty::after {
  content: '\2013\2013';
  color: #808080;
}

.badge_text {
  background-color: #088488;
  color: #FFF;
  font-weight: 700;
  text-transform: uppercase;
  padding: 0px 4px;
  text-align: center;
  margin-top: 1px;
  font-size: 10px;
  line-height: 16px;
  letter-spacing: 0.05em;
}

.success {
  background-color: #DAF2E3;
  color:#000;
  text-align: center;
  padding: 8px 16px;
  margin-bottom:16px;
}

.mashup-modal {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: rgba(6,6,6,0.3);
  z-index: 2;
  transition: opacity .400s ease-in-out;
}
.mashup-modal > div {
  height: 60vh;
  max-width: 800px;
  width: 80vw;
  margin: 15vh auto;
  background: #FFF;
  border: 1px solid rgba(0,0,0,.2);
  border-radius: 10px;
  box-shadow: 4px 4px 5px rgba(0,0,0,.3);
  display: flex;
  flex-flow: column nowrap;
  padding-bottom: 16px;
}
.mashup-modal > div > .main-header {
  padding: 0 16px;
  border-bottom: 1px solid rgba(0,0,0,.2);
}
.attach-files {
  margin: 16px 16px 0;
  display:flex;
  flex-flow:column;
  flex:1;
  overflow-y: auto;
}
.file-upload {
  background: rgba(0,116,212,0.05);
  border: 1px dashed #0076D1;
  padding: 16px;
  display: flex;
  align-items: center;
}
.drop-file-hover {
  background: rgba(0,116,212,0.15);
}
.file-upload input {
  display:none;
}
.row-item {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  margin-top: 8px;
  width:100%;
}
.upload-content {
  display: flex;
  flex-flow: column;
  align-items: flex-start;
  flex-grow: 1;
  overflow-y: auto;
}
.list-items .empty {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-self: center;
  justify-content: center;
}
.list-item-title {
  display: flex;
  flex-flow: column nowrap;
  flex: 1;
}
.list-item-meta {
  font-size:14px;
}
.list-item-meta > span:after {
  content: '|';
  margin:0 3px;
}
.list-item-meta > span:last-child:after {
  content: '';
}
.doc-icon {
  position: relative;
  margin-right: 8px;
}
.doc-icon > svg {
  width: 30px;
  height: 30px;
}
.doc-icon > span {
  position: absolute;
  left: 1px;
  right: 1px;
  bottom: 8px;
  font-size: 7px;
  text-transform: uppercase;
  text-align: center;
}
.count-badge {
  min-width: 24px;
  line-height: 24px;
  border-radius: 12px;
  background-color: #e9eef3;
  color: rgba(0,0,0,.6);
  font-weight: 600;
  font-size: 12px;
  margin-top: -9px;
  margin-left: -3px;
}

.loading {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  height:100%;
}

.loading > .dot {
  width: 1rem;
  height: 1rem;
  margin: 0 0.5rem;
  background: #0076D1;
  border-radius: 50%;
  animation: Loading-ellipsis 1s infinite cubic-bezier(0.4, 0.6, 0.1, 1);
}

.loading > .dot:nth-child(2) {
  animation-delay: 0.1667s;
}

.loading > .dot:nth-child(3) {
  animation-delay: 0.3334s;
}

@keyframes Loading-ellipsis {
  0% {
      transform: scale(0);
      opacity: 0;
  }
  50% {
      transform: scale(1);
      opacity: 1;
  }
  100% {
      transform: scale(0);
      opacity: 0;
  }
}

@media only screen and (max-width: 640px) {	
  .flex.layout-content-inline_grid_70_30,
  .flex.layout-content-inline_grid_30_70,
  .flex.layout-content-inline_grid_double {
    flex-flow: column nowrap;
  }
  .flex.layout-content-inline_grid_70_30 > div:nth-child(2n+1),
  .flex.layout-content-inline_grid_70_30 > div:nth-child(2n),
  .flex.layout-content-inline_grid_30_70 > div:nth-child(2n+1),
  .flex.layout-content-inline_grid_30_70 > div:nth-child(2n),
  .flex.layout-content-inline_grid_double > div:nth-child(2n),
  .flex.layout-content-inline_grid_double > div:nth-child(2n+1) {
    width:100%;
    margin-right: 0;
    margin-left: 0;
  }
} 

